main.exe
DRA.BIN
BIN/ARC_F.BIN
BIN/RIC.BIN
ST/

iso/

ctx.c
ctx.c.m2c
*.ld
*auto.*.txt
generated.symbols.*.txt
__pycache__

asm/*/*.s
asm/*/data/*.s
asm/*/nonmatchings/*.s
asm/*/nonmatchings/*/*.s
asm/*/nonmatchings/*/*/*.s
asm/st/*/data/*.s
asm/st/*/nonmatchings/*.s
asm/st/*/nonmatchings/*/*.s
asm/st/*/nonmatchings/*/*/*.s
assets/
build/