main.exe
DRA.BIN
ST/

*.ld
*auto.*.txt
generated.symbols.*.txt
__pycache__

asm/*/*.s
asm/*/data/*.s
asm/*/nonmatchings/*.s
asm/*/nonmatchings/*/*.s
asm/*/nonmatchings/*/*/*.s
asm/st/*/data/*.s
asm/st/*/nonmatchings/*.s
asm/st/*/nonmatchings/*/*.s
asm/st/*/nonmatchings/*/*/*.s
assets/
build/