[submodule "tools/asm-differ"]
	path = tools/asm-differ
	url = https://github.com/simonlindholm/asm-differ.git
[submodule "tools/m2c"]
	path = tools/m2c
	url = https://github.com/matt-kempster/m2c.git
[submodule "tools/saturn-splitter"]
	path = tools/saturn-splitter
	url = https://github.com/sozud/saturn-splitter.git
[submodule "tools/maspsx"]
	path = tools/maspsx
	url = https://github.com/mkst/maspsx.git
[submodule "tools/mwccgap"]
	path = tools/mwccgap
	url = https://github.com/mkst/mwccgap.git
[submodule "tools/decomp-permuter"]
	path = tools/decomp-permuter
	url = https://github.com/simonlindholm/decomp-permuter.git
[submodule "tools/dosemu-deb"]
	path = tools/dosemu-deb
	url = https://github.com/sozud/dosemu-deb.git
