options:
  platform: psp
  basename: dra
  base_path: ..
  build_path: build/pspeu
  target_path: disks/pspeu/PSP_GAME/USRDIR/res/ps/PSPBIN/dra.bin
  asm_path: asm/pspeu/dra_psp
  asset_path: assets/dra_psp
  src_path: src
  ld_script_path: build/pspeu/dra.ld
  compiler: GCC
  symbol_addrs_path:
    - config/symbols.pspeu.txt
    - config/symbols.pspeu.dra.txt
  undefined_funcs_auto_path: config/undefined_funcs_auto.pspeu.dra.txt
  undefined_syms_auto_path: config/undefined_syms_auto.pspeu.dra.txt
  find_file_boundaries: true
  use_legacy_include_asm: false
  migrate_rodata_to_functions: true
  asm_jtbl_label_macro: jlabel
  symbol_name_format: psp_$VRAM
  disassemble_all: true
  section_order:
    - .text
    - .data
    - .rodata
    - .bss
  ld_bss_is_noload: true
  disasm_unknown: true
  global_vram_start: 0x08000000
  asm_inc_header: |
    .set noat      /* allow manual use of $at */
    .set noreorder /* don't insert nops after branches */
  ld_generate_symbol_per_data_segment: true
sha1: 2ba697c152e240ee0d69619f4a460d145fae04c0
segments:
  - [0x0, bin, mwo_header]
  - name: dra
    type: code
    start: 0x80
    vram: 0x090DCA00
    bss_size: 0x6BF80
    align: 128
    subalign: 8
    subsegments:
      - [0x80, c, dra/62DEC]
      - [0x3250, c, dra_psp/3250]
      - [0x42B0, c, dra/4DA70]
      - [0x5DA0, c, dra/624DC] # O4
      - [0x66B0, c, dra/5F60C] # O0
      - [0xA710, c, dra/5087C] # O4
      - [0xE588, c, dra_psp/menu]
      - [0x186E8, c, dra_psp/186E8]
      - [0x199E8, c, dra/game_handlers] # O4
      - [0x1DDC0, c, dra_psp/1DDC0] # O4
      - [0x1FB60, c, dra/4B758] # O0
      - [0x21FC8, c, dra_psp/demo] # O0
      - [0x23138, c, dra_psp/23138]
      - [0x231A8, c, dra/8BEF8] # O0
      - [0x23AD8, c, dra/timeattack] # O0
      - [0x23C18, c, dra/5D5BC] # O0
      - [0x26948, c, dra/4CE2C] # O4
      - [0x274E8, c, dra/4AEA4] # O4
      - [0x27F38, c, dra/692E8]
      - [0x2BF60, c, dra/71830]
      - [0x35238, c, dra/70394]
      - [0x353B0, c, dra/704D0] # O0
      - [0x373F8, c, dra/6E42C]
      - [0x39AA8, c, dra/alu_anim]
      - [0x3ABB8, c, dra/6DF70]
      - [0x3B280, c, dra/6FDF8]
      - [0x3B9B0, c, dra/6BF64]
      - [0x3D738, c, dra/84B88]
      - [0x45688, c, dra/8A0A4]
      - [0x47EA8, c, dra/7879C]
      - [0x507F0, c, dra/7E4BC]
      - [0x59E20, c, dra/8C600]
      - [0x5AF80, c, dra/8D3E8]
      - [0x60C28, c, dra_psp/cd]
      - [0x60C90, c, dra_psp/memcard]
      - [0x61B78, c, dra/pads]
      - [0x61E38, c, dra/66590] # O4
      - [0x62FE0, c, dra_psp/62FE0] # O4
      - [0x63C08, c, dra_psp/63C08] # O4
      - [0x68310, c, dra/collider] # O4
      - [0x68E00, .data, dra/62DEC]
      - [0x69578, .data, dra/624DC]
      - [0x69600, .data, dra/lba_stage]
      - [0x6A818, .data, dra/5F60C] # DrawHud arrays
      #- [0x6A8B8, .data, dra/5F60C] # Subwpn clut/u/v
      #- [0x6A8F8, .data, dra/5F60C]
      - [0x6AB40, .data, dra/5087C]
      - [0x6B420, .data, dra_psp/menu]
      - [0x6DCA8, .data, dra/dra_header]
      - [0x6DDE8, .data, dra_psp/186E8]
      - [0x6F948, .data, dra/game_handlers]
      - [0x832A8, .data, dra_psp/1DDC0]
      - [0x84028, .data, dra/4B758]
      - [0x84080, .data, dra_psp/demo]
      - [0x841C0, .data, dra/8BEF8]
      - [0x84210, .data, dra/5D5BC]
      - [0x84238, .data, dra/4AEA4]
      - [0x84248, .data, dra_psp/d_84248]
      - [0x92E80, .data, dra/d_2F324]
      - [0x939A8, .data, dra/d_24CEC]
      # - [0x94010, .data, dra/d_24CEC] # g_GfxEquipIcon
      - [0x9E010, .data, dra/d_E294]
      - [0xA0578, .data, dra/692E8]
      - [0xA6820, .data, dra/71830]
      - [0xA6888, .data, dra/70394]
      - [0xA6890, .data, dra/704D0] # Strings in hellfire and sword brothers
      - [0xA68C8, .data, dra/6E42C]
      - [0xA68E8, .data, dra/alu_anim]
      - [0xA6920, .data, dra/6BF64]
      - [0xA69C8, .data, dra/84B88]
      - [0xA6C38, .data, dra/7879C]
      - [0xA72E4, .data, dra/7E4BC]
      - [0xA79D0, .data, dra/d_DBD4]
      - [0xA8120, .data, dra/8D3E8]
      - [0xA8888, .data, dra_psp/cd]
      - [0xA88D8, .data, dra/d_CD80]
      - [0xA8948, .data, dra_psp/memcard]
      - [0xAA578, .data, dra/66590]
      - [0xAA6E8, .data, dra_psp/62FE0]
      - [0xAA8A0, .data, dra_psp/63C08]
      - [0xAD460, .data, dra/d_37d8]
      - [0xAF398, .data, dra/sound_data] # g_SeqInfo
      # - [0xAF3E0, .data, dra/sound_data] # g_XaMusicConfigs
      # - [0xB16F0, .data, dra/sound_data] # g_SfxData
      # - [0xB2C40, .data, dra/sound_data] # g_SfxScripts
      - [0xB4548, .data, dra_psp/d_B4548]
      - [0xEE380, .rodata, dra/62DEC]
      - [0xEE3A0, .rodata, dra/624DC]
      - [0xEE408, .rodata, dra/5087C]
      - [0xEE4C8, .rodata, dra_psp/menu]
      - [0xEE570, .rodata, dra/game_handlers]
      - [0xEE628, .rodata, dra_psp/1DDC0]
      - [0xEE680, .rodata, dra/5D5BC]
      - [0xEE6C8, .rodata, dra/4AEA4]
      - [0xEE708, .rodata, dra/692E8]
      - [0xEE7B0, .rodata, dra/71830]
      - [0xEE840, .rodata, dra/704D0]
      - [0xEE898, .rodata, dra/84B88]
      - [0xEE8B8, .rodata, dra/8A0A4]
      - [0xEE8D8, .rodata, dra/7879C]
      - [0xEEB28, .rodata, dra/7E4BC]
      - [0xEEC30, .rodata, dra/8D3E8]
      - [0xEED48, .rodata, dra_psp/63C08]
      - {start: 0xEED80, type: .bss, vram: 0x091CB700, name: dra_psp/3250}
      - {start: 0xEED80, type: bss, vram: 0x091CD700, name: bss1}
      - {start: 0xEED80, type: .bss, vram: 0x091CD7A8, name: dra/62DEC}
      - {start: 0xEED80, type: .bss, vram: 0x091CDC58, name: dra/4DA70}
      - {start: 0xEED80, type: .bss, vram: 0x091CDC60, name: dra/624DC}
      - {start: 0xEED80, type: bss, vram: 0x091CDC80, name: bss2}
      - {start: 0xEED80, type: .bss, vram: 0x091CDC90, name: dra/5F60C}
      - {start: 0xEED80, type: bss, vram: 0x091CDCC0, name: bss3}
      - {start: 0xEED80, type: .bss, vram: 0x091CDCD8, name: dra/5087C}
      - {start: 0xEED80, type: .bss, vram: 0x091CDD40, name: dra_psp/menu}
      - {start: 0xEED80, type: bss, vram: 0x091CE1E8, name: bss4}
      - {start: 0xEED80, type: .bss, vram: 0x091CE268, name: dra_psp/186E8}
      - {start: 0xEED80, type: bss, vram: 0x091CE2F0, name: bss5}
      - {start: 0xEED80, type: .bss, vram: 0x091CE310, name: dra/game_handlers}
      - {start: 0xEED80, type: .bss, vram: 0x091CE358, name: dra_psp/1DDC0}
      - {start: 0xEED80, type: bss, vram: 0x091CE3A0, name: bss6}
      - {start: 0xEED80, type: .bss, vram: 0x091CE3C8, name: dra_psp/demo}
      - {start: 0xEED80, type: .bss, vram: 0x091CE3D0, name: dra/5D5BC}
      - {start: 0xEED80, type: bss, vram: 0x091CE3E8, name: bss7}
      - {start: 0xEED80, type: .bss, vram: 0x091CE428, name: dra/4AEA4}
      - {start: 0xEED80, type: bss, vram: 0x091CE548, name: bss8}
      - {start: 0xEED80, type: .bss, vram: 0x09234A30, name: dra/d_2F324}
      - {start: 0xEED80, type: .bss, vram: 0x09234B68, name: dra/692E8}
      - {start: 0xEED80, type: bss, vram: 0x09234B98, name: bss9}
      - {start: 0xEED80, type: .bss, vram: 0x09234CB0, name: dra/71830}
      - {start: 0xEED80, type: bss, vram: 0x09234CC0, name: bss10}
      - {start: 0xEED80, type: .bss, vram: 0x09234DB0, name: dra/6BF64}
      - {start: 0xEED80, type: bss, vram: 0x09234DB8, name: bss11}
      - {start: 0xEED80, type: .bss, vram: 0x092367C0, name: dra/pads}
      - {start: 0xEED80, type: bss, vram: 0x092367D0, name: bss12}
      - {start: 0xEED80, type: .bss, vram: 0x09236830, name: dra_psp/63C08}
      - {start: 0xEED80, type: bss, vram: 0x09237628, name: bss13}
  - [0xEED80]