options:
  platform:     psx
  basename:     stdre
  base_path:    ..
  build_path:   build/us
  target_path:  disks/us/ST/DRE/DRE.BIN
  asm_path:     asm/us/st/dre
  asset_path:   assets/st/dre
  src_path:     src/st/dre
  ld_script_path: build/us/stdre.ld
  compiler:     GCC
  symbol_addrs_path:
    - config/symbols.us.txt
    - config/symbols.us.stdre.txt
  undefined_funcs_auto_path: config/undefined_funcs_auto.us.stdre.txt
  undefined_syms_auto_path:  config/undefined_syms_auto.us.stdre.txt
  find_file_boundaries: yes
  use_legacy_include_asm: no
  migrate_rodata_to_functions: no
  asm_jtbl_label_macro: jlabel
  extensions_path: tools/splat_ext
  section_order:
    - ".data"
    - ".rodata"
    - ".text"
    - ".bss"
    - ".sbss"
sha1: e42976f45b47d1c4912a198ae486b77ee6d77c9c
segments:
  - name: stdre
    type: code
    start: 0x00000000
    vram:  0x80180000
    align: 4
    subalign: 4
    subsegments:
      - [0x0, .data, header]
      - [0xE8, .data, header] # layers
      - [0x128, data]
      - [0x220, .data, e_laydef] # layout entries header
      - [0x3C8, data]
      - [0x590, data]
      - [0x610, data]
      - [0x630, data]
      - [0x640, data]
      - [0x650, data]
      - [0x660, data]
      - [0x770, data]
      - [0x938, .data, cutscene]
      - [0x944, data]
      - [0x97C, .data, st_update]
      - [0x9A8, .data, collision]
      - [0xD68, .data, e_red_door]
      - [0xD80, .data, st_common]
      - [0xF80, .data, e_collect]
      - [0x1270, .data, e_misc]
      - [0x12D4, .data, e_misc]
      - [0x138C, data]
      - [0x1498, .data, rooms]
      - [0x14AC, data]
      - [0x1608, .data, e_layout] # layout entries data
      - [0x16C0, data]
      - [0xB548, .data, tile_data] # tile data
      - [0xBD48, .data, tile_data] # tile definitions
      - [0x10168, .data, sprites]
      - [0x1171C, .rodata, 11A64]
      - [0x11728, .rodata, succubus] # EntitySuccubus
      - [0x11808, .rodata, cutscene]
      - [0x1181C, .rodata, cutscene] #D_80180938, names
      - [0x1183C, .rodata, cutscene] #EntitySuccubusCutscene
      - [0x118C0, .rodata, 161DC] #EntityCSMoveAlucard, string and jumps
      - [0x118F8, .rodata, 161DC] # EntityUnkId23
      - [0x11910, .rodata, 1697C] # EntityFadeToWhite
      - [0x1193C, .rodata, e_red_door] # EntityRedDoor
      - [0x119C4, .rodata, e_collect]
      - [0x119DC, .rodata, e_misc]
      - [0x11A14, .rodata, e_misc]
      - [0x11A28, .rodata, 20734] # EntityStageNamePopup
      - [0x11A5C, .rodata, prim_helpers]
      - [0x11A64, c]
      - [0x11A64, c, succubus]
      - [0x14774, c, cutscene]
      - [0x161DC, c]
      - [0x1697C, c]
      - [0x16F90, c, st_update]
      - [0x173C4, c, collision]
      - [0x18B80, c, create_entity]
      - [0x196F8, c, e_red_door]
      - [0x1A3A8, c, st_common]
      - [0x1B858, c, e_collect]
      - [0x1CDC4, c, blit_char]
      - [0x1D074, c, e_misc]
      - [0x20734, c]
      - [0x22018, c, prim_helpers]
      - [0x22848, c]
      - [0x23264, .bss, create_entity]
      - [0x232CA, .bss, bss]
      - [0x23FB6, .bss, e_collect]
  - [0x23FCC]
