options:
  platform:     psx
  basename:     stdre
  base_path:    ..
  build_path:   build/us
  target_path:  disks/us/ST/DRE/DRE.BIN
  asm_path:     asm/us/st/dre
  asset_path:   assets/st/dre
  src_path:     src/st/dre
  compiler:     GCC
  symbol_addrs_path:    config/generated.symbols.us.stdre.txt
  undefined_funcs_auto_path: config/undefined_funcs_auto.us.stdre.txt
  undefined_syms_auto_path:  config/undefined_syms_auto.us.stdre.txt
  find_file_boundaries: yes
  use_legacy_include_asm: no
  migrate_rodata_to_functions: no
  extensions_path: tools/splat_ext
  section_order:
    - ".rodata"
    - ".text"
    - ".data"
segments:
  - name: stdre
    type: code
    start: 0x00000000
    vram:  0x80180000
    subalign: 4
    subsegments:
      - [0x0, rodata]
      - [0x590, rodata]
      - [0x610, rodata]
      - [0x630, rodata]
      - [0x640, rodata]
      - [0x650, rodata]
      - [0x660, rodata]
      - [0x770, rodata]
      - [0x1498, roomdef, g_Rooms]
      - [0x14AC, rodata]
      - [0x16C0, rodata]
      - [0x11770, rodata]
      - [0x117A0, rodata]
      - [0x117F0, rodata]
      - [0x11808, .rodata, 14214]
      - [0x1181C, rodata]
      - [0x118D0, rodata]
      - [0x11A64, c, 11A64]
      - [0x14214, c, 14214]
      - [0x23260, data]
  - [0x23FCC]
