bchunk
binutils-mipsel-linux-gnu
binutils-sh-elf
bsdmainutils
rustup
clang-format
coreutils
curl
gcc-mipsel-linux-gnu
git
libelf-dev
make
ninja-build
p7zip-full
python3-pip
python3-venv
unzip
wget
xfonts-utils
