pre-commit
black
pycparser
watchdog
python-Levenshtein
cxxfilt
mapfile-parser==2.1.4
tabulate
requests
graphviz
splat64==0.34.1
crunch64
spimdisasm==1.35.0
rabbitizer==1.13.0
n64img==0.3.3
pygfxd
pillow
toml
intervaltree==3.1.0
