pre-commit
black
pycparser
watchdog
python-Levenshtein
cxxfilt
mapfile-parser==2.1.4
tabulate
requests
graphviz
splat64==0.27.3
crunch64
spimdisasm>=1.31.3
rabbitizer>=1.12.5
n64img==0.3.3
pygfxd
pillow
