name: Build Docker image

on:
  push:
    branches:
      - master
    paths:
      - 'Dockerfile'
      - 'tools/requirements-debian.txt'
      - 'tools/requirements-python.txt'
  workflow_dispatch:

jobs:
  push-docker-image:
    if: github.repository == 'Xeeynamo/sotn-decomp'
    runs-on: ubuntu-latest
    steps:
      - name: Clone main repository
        uses: actions/checkout@v6
        with:
          submodules: false
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ vars.DOCKERHUB_USERNAME }}/sotn-build:latest
