name: Format code

on:
  push:
    branches:
      - master
    paths:
      - '*/*.c'
      - '*/*.h'
      - '**/*.c'
      - '**/*.h'
      - '**/*.py'
      - 'config/symbols.*.txt'
  workflow_dispatch:

jobs:
  format:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Install requirements
        run: sudo apt-get install clang-format
      - name: Install python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install black
        run: pip install black PyYAML
      - name: Clone main repository
        uses: actions/checkout@v3
        with:
          submodules: false
      - name: Format code
        run: make format
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Format code
