name: Format code

on:
  push:
    branches-ignore:
      - master
  pull_request_target:
  workflow_dispatch:

jobs:
  format:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Install requirements
        run: sudo apt-get install clang-format
      - name: Install python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install black
        run: pip install black
      - name: Clone main repository
        uses: actions/checkout@v3
        with:
          submodules: false
      - name: Format code
        run: make format
      - name: Check for pending changes
        run: git diff --exit-code --name-only
