name: Build C code

on:
  push:
    branches:
      - master
    paths:
      - 'include/**'
      - 'src/**'
      - 'Makefile*'
  pull_request:
    paths:
      - 'include/**'
      - 'src/**'
      - 'Makefile*'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Install requirements
        run: sudo apt-get install build-essential libsdl2-dev libsdl2-image-dev
      - name: Clone repo
        uses: actions/checkout@v3
        with:
          ref: ${{ github.ref }}
          submodules: false
      - name: build
        run: make build_pc

  build-windows:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3

    - name: Dependencies
      run: |
        mkdir C:\temp-sdl2
        powershell Invoke-WebRequest 'https://github.com/libsdl-org/SDL/releases/download/release-2.28.5/SDL2-devel-2.28.5-VC.zip' -OutFile C:\temp-sdl2\SDL2-devel-2.28.5-VC.zip
        7z x C:\temp-sdl2\SDL2-devel-2.28.5-VC.zip -oC:\temp-sdl2
        mkdir C:\temp-sdl2_image
        powershell Invoke-WebRequest 'https://github.com/libsdl-org/SDL_image/releases/download/release-2.8.1/SDL2_image-devel-2.8.1-VC.zip' -OutFile C:\temp-sdl2_image\SDL2_image-devel-2.8.1-VC.zip
        7z x C:\temp-sdl2_image\SDL2_image-devel-2.8.1-VC.zip -oC:\temp-sdl2_image
        dir C:\temp-sdl2_image
        dir C:\temp-sdl2_image\SDL2_image-2.8.1
        dir C:\temp-sdl2_image\SDL2_image-2.8.1\include
        dir C:\temp-sdl2_image\SDL2_image-2.8.1\lib
    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/cmake_build -DCMAKE_BUILD_TYPE=Release -DSDL2_DIR=C:\temp-sdl2\SDL2-2.28.5\cmake -DSDL2_Image_DIR=C:\temp-sdl2_image\SDL2_image-2.8.1\cmake

    - name: Build
      run: cmake --build ${{github.workspace}}/cmake_build --config Release
